/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300&display=swap');
// Navigation element colors
$navbar-bg: #000a91;
$footer-bg: #181818;
$body-color: BLACK;
/*-- scss:rules --*/
